<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <base href="http://localhost/shop-resources/back/" />


  <link href="css/H-ui.min.css" rel="stylesheet" type="text/css" />
  <link href="css/H-ui.admin.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />


</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
</nav>
<p STYLE="  font-size: 40px;
  text-align: center;">
  欢迎光临哲思书城后台
</p>
</body>
</html>