<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <base href="http://localhost/shop-resources/back/"/>

    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="lib/layer/1.9.3/layer.js"></script>
    <script type="text/javascript" src="js/formUtils.js"></script>
    
    <script type="text/javascript">
        $(function () {
            $("#sub-but").click(function () {

                // 1.获取数据
                var password = $("#password").val();
                var token = $("#token").val();

                // 2.封装一下
                var param = new Object();
                param.password = password;
                param.token = token;

                // 3.发送请求
                $.post("http://localhost/shop-sso/ssoUserController/updateUserPassword",param,function(data){
                    responceCLinetToLogin(data,function(){
                        location.href = "http://localhost/shop-sso/toLoginUserPage";
                    });
                },"JSON");
            });
        })
    </script>
</head>
<body>

<form method="post" onsubmit="return false">
    password:<input type="text" name="password"><br>
    repassword:<input type="text" name="repassword" id="password"><br>
    <input type="hidden" name="token" id="token" th:value="${#request.getParameter('token')}">
    <input type="submit" value="提交" id="sub-but">
</form>

</body>
</html>