<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <base href="http://localhost/shop-resources/back/" />

    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="lib/layer/1.9.3/layer.js"></script>
    <script type="text/javascript" src="js/formUtils.js"></script>
    
    <script type="text/javascript">
        $(function () {
            $("#find-username-but").click(function () {

                // 1.获取用户输入的名称
                var username = $("#username").val();

                // 2.判断
                if(!username){
                    layer.msg('请先输入用户名', {icon: 3, time: 1000});
                    return ;
                }

                // 3.把用户名发送给后台做校验
                $.get("http://localhost/shop-sso/ssoUserController/getUserByUsername?username="+username,"",function(data){
                    if(data.status == 'success'){
                        $("#showEmailbut").show();
                        $("#foward-url").attr("href",data.data.ehome);
                        $("#emailMsg").text(data.data.eurl);
                        //layer.msg('修改密码的连接以发送到您的邮箱,请的登录查看', {icon: 1,time:2000});
                    }else{
                        layer.msg(data.msg, {icon: 2,time:1000});
                    }
                },"JSON");
                
            });
        })
    </script>
</head>
<body>

    请输入用户名:<input type="text" name="username" id="username"><br>
    <input type="submit" value="提交" id="find-username-but"/>

    <div style="display: none" id="showEmailbut">
        修改密码的连接已经发送到了亲的【
        <span id="emailMsg"></span>
        】的邮箱，请<a href="#" id="foward-url">点击这里</a>登录
    </div>

</body>
</html>