<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <base href="http://localhost/shop-resources/front/" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/shopping-mall-index.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/zhonglin.js"></script>
    <script type="text/javascript" src="js/ssoUser.js"></script>
    <script type="text/javascript" src="js/ajaxUtils.js"></script>
    <script type="text/javascript" src="js/shopCar.js"></script>

    <script type="text/javascript">


        function addCar(gid){

            // 1、获取商品的数量
            var count = $("#count_"+gid).text();

            // 2.封装
            var param = new Object();
            param.gid = gid;
            param.count = count;

            // 3.发送请求给后台(携带两波数据(token,购物车的数据))
            sendRequesToken("http://localhost/shop-car/carController/addCar",param,function(data){

            });

        }
        function findCarList() {

            // 1.获取token
            var token = localStorage.getItem('login-user');

            // 2.跳转到购物车列表
            if (token) {
                location.href = "http://localhost/shop-car/carController/getUserCarList?token=" + token;
            } else {
                location.href = "http://localhost/shop-car/carController/getUserCarList";
            }
        }

    </script>
</head>

<body style="position:relative;">

<!--top 开始-->
<div class="top">
    <div class="top-con w1200">
        <p class="t-con-l f-l" id="logMsg"></p>
        <ul class="t-con-r f-r">
            <li><a href="#">我 (个人中心)</a></li>
            <li><a href="javascript:void(0)" onclick="findCarList()">我的购物车<span id="shoCarNum"
                                                                                style="color: red"></span></a></li>
            <li><a href="javascript:void(0)" id="my-order-but">我的订单</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--logo search 开始-->
<div class="hd-info1 w1200">
    <div class="logo f-l">
        <h1><a href="http://localhost/shop-home"><img src="images/logo_long.png" width="550" height="80" style="position:relative;top:30px;"/></a></h1>
    </div>

    <div style="clear:both;"></div>
</div>


<!--内容开始-->
<div class="personal w1200">

    <div>

        <div class="order-md">
            <div class="md-tit">
                <h3>我的订单</h3>
            </div>
            <div class="md-hd">
                <P class="md-p1"><input type="checkbox" name="hobby" value=""></input><span>全选</span></P>
                <p class="md-p2">商品信息</p>
            <!--    <p class="md-p3">规格</p>-->
                &nbsp;&nbsp; &nbsp;&nbsp; <p class="md-p4">  单价（元）</p>
                &nbsp;&nbsp;  <p class="md-p5">  金额（元）</p>
                <p class="md-p6">  操作</p>
            </div>
            <div class="md-info" th:each="order:${orderList}">
                <div class="dai">
                    <input type="checkbox" name="hobby" value=""></input>

                    <span >订单编号</span>:<span th:text="${order.id}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span >订单状态</span>:
                        <span th:if="${order.status == 1}">未支付</span>
                        <span th:if="${order.status == 2}">已支付</span>
                        <span th:if="${order.status == 3}">已取消</span>
                        <span th:if="${order.status == 4}">已超时</span>
                        <span th:if="${order.status == 5}">已发货</span>
                </div>
                <div class="dai-con" th:each="od:${order.orderDetailList}">
                    <dl class="dl1">
                        <dt>
                            <input type="checkbox" name="hobby" value="" class="f-l"></input>
                            <a href="#" class="f-l"><img th:src="${od.gpng}" width="82" height="82"/></a>
                            <div style="clear:both;"></div>
                        </dt>
                        <dd>
                            <p th:text="${od.gname}"></p>
                            <span th:text="|X ${od.count}|"></span>
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    <div class="dai-right f-l">
      <!--                  <P class="d-r-p1">颜色：蓝色<br />尺码：XL</P>-->
                        <p class="d-r-p2" th:text="|¥ ${od.gprice}|"></p>
                        <p class="d-r-p3" th:text="|¥ ${od.subtotal}|"></p>
                        <p class="d-r-p4"><a href="#">移入收藏夹</a><br /><a href="#">删除</a><br /><a href="#"><span th:if="${order.status == 1}">付款</span></a></p>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>

<!--底部服务-->
<div class="ft-service">
    <div class="w1200">
        <div class="sv-con-l2 f-l">
            <dl>
                <dt><a href="#">新手上路</a></dt>
                <dd>
                    <a href="#">购物流程</a>
                    <a href="#">在线支付</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">配送方式</a></dt>
                <dd>
                    <a href="#">货到付款区域</a>
                    <a href="#">配送费标准</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">购物指南</a></dt>
                <dd>
                    <a href="#">常见问题</a>
                    <a href="#">订购流程</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">售后服务</a></dt>
                <dd>
                    <a href="#">售后服务保障</a>
                    <a href="#">退款说明</a>
                    <a href="#">新手选购商品总则</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">关于我们</a></dt>
                <dd>
                    <a href="#">投诉与建议</a>
                </dd>
            </dl>
            <div style="clear:both;"></div>
        </div>
        <div class="sv-con-r2 f-r">
            <p class="sv-r-tle">187-8660-5539</p>
            <p>周一至周五9:00-17:30</p>
            <p>（仅收市话费）</p>
            <a href="#" class="zxkf">24小时在线客服</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

<!--底部 版权-->
<div class="footer w1200">
    <p>
        <a href="#">关于我们</a><span>|</span>
        <a href="#">友情链接</a><span>|</span>
        <a href="#">哲思书城社区</a><span>|</span>
        <a href="#">诚征英才</a><span>|</span>
        <a href="#">商家登录</a><span>|</span>
        <a href="#">供应商登录</a><span>|</span>
        <a href="#">热门搜索</a><span>|</span>
        <a href="#">哲思书城新品</a><span>|</span>
        <a href="#">开放平台</a>
    </p>
    <p>
        沪ICP备13044278号<span>|</span>合字B1.B2-20130004<span>|</span>营业执照<span>|</span>互联网药品信息服务资格证<span>|</span>互联网药品交易服务资格证
    </p>
</div>

<!--查看物流 弹窗-->
<div class="view-logistics">
    <div class="view-bg"></div>
    <div class="view-con">
        <div class="view-tit">
            <h3>物流信息</h3>
            <a href="JavaScript:;" guanbi="">
                <img src="images/close-select-city.gif" />
            </a>
            <div style="clear:both;"></div>
        </div>
        <div class="view-bd">
            <ul>
                <li class="bd-pdl-li after"><span>1</span>2015-08-06　周四　　14:06:53您的订单开始处理</li>
                <li class="after"><span>2</span>14:08:44您的订单待配货</li>
                <li><span>3</span>14:16:04您的包裹已出库</li>
                <li><span>4</span>14:16:03商家正通知快递公司揽件</li>
                <li><span>5</span>21:47:54【惠州市】圆通速递 广东省惠州市惠东县收件员 已揽件</li>
                <li class="bd-pdb-li"><span>6</span>22:13:51广东省惠州市惠东县公司 已发出</li>
                <li class="bd-pdl-li"><span>7</span>2015-08-07　周五　　04:57:33广州转运中心公司 已收入</li>
                <li><span>8</span>04:58:54广州转运中心公司 已发出</li>
                <li><span>9</span>2015-08-08周六22:46:43重庆转运中心公司 已收入</li>
                <li class="bd-pdb-li"><span>10</span>23:01:49【重庆市】重庆转运中心 已发出</li>
                <li class="bd-pdl-li"><span>11</span>2015-08-09　周日　　00:57:11【重庆市】快件已到达 重庆市南岸区</li>
                <li><span>12</span>11:14:52重庆市南岸区 已收入</li>
                <li><span>13</span>11:14:52【重庆市】重庆市南岸区派件员：李天生 13330284757正在为您派件</li>
                <li class="bd-bd-li"><span>14</span>15:53:14【重庆市】重庆市南岸区公司 已签收 签收人：保安，感谢使用圆通速递，期待再次为您服务</li>
            </ul>
            <p class="sign">您的包裹已被签收！</p>
        </div>
    </div>
</div>

</body>
</html>