<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <base href="http://localhost/shop-resources/front/">

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/shopping-mall-index.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/zhonglin.js"></script>
    <script type="text/javascript" src="js/ssoUser.js"></script>
    <script type="text/javascript" src="js/ajaxUtils.js"></script>
    <script type="text/javascript" src="js/shopCar.js"></script>

    <script type="text/javascript">

        $(function () {
            $("#search-but").click(function () {
                // 1.获取用户搜索的关键字
                var keyword = $("#keyword").val();
                // 2.跳转到查询的界面
                location.href = "http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword=" + keyword;

            });

            $("#my-order-but").click(function () {

                // 1.获取token
                var token = localStorage.getItem('login-user');

                // 2.发送请求
                if (token) {
                    location.href = "http://localhost/shop-order/orderController/getOrderListByUserId?token=" + token;
                }else{
                    location.href = "http://localhost/shop-order/orderController/getOrderListByUserId";
                }
            });
        })

        function findCarList() {

            // 1.获取token
            var token = localStorage.getItem('login-user');

            // 2.跳转到购物车列表
            if (token) {
                location.href = "http://localhost/shop-car/carController/getUserCarList?token=" + token;
            } else {
                location.href = "http://localhost/shop-car/carController/getUserCarList";
            }
        }

    </script>

</head>

<body>

<script th:inline="javascript">
    var keyword = [[${#request.getParameter('keyword')}]]
</script>

<script type="text/javascript">
    $(function(){
        $("#gprice-href").click(function(){
            var url = "http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword="+keyword+"&psort=1";
            location.href = url;
        });

        $("#gid-href").click(function(){
            var url = "http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword="+keyword+"&psort=2";
            location.href = url;
        });
    })

    function addCar(gid){

        // 1、获取商品的数量
        var count = $("#count_"+gid).text();

        // 2.封装
        var param = new Object();
        param.gid = gid;
        param.count = count;

        // 3.发送请求给后台(携带两波数据(token,购物车的数据))
        sendRequesToken("http://localhost/shop-car/carController/addCar",param,function(data){

        });

    }
    function findCarList() {

        // 1.获取token
        var token = localStorage.getItem('login-user');

        // 2.跳转到购物车列表
        if (token) {
            location.href = "http://localhost/shop-car/carController/getUserCarList?token=" + token;
        } else {
            location.href = "http://localhost/shop-car/carController/getUserCarList";
        }
    }

</script>

<!--top 开始-->
<div class="top">
    <div class="top-con w1200">
        <p class="t-con-l f-l" id="logMsg"></p>
        <ul class="t-con-r f-r">
            <li><a href="#">我 (个人中心)</a></li>
            <li><a href="javascript:void(0)" onclick="findCarList()">我的购物车<span id="shoCarNum"
                                                                                style="color: red"></span></a></li>
            <li><a href="javascript:void(0)" id="my-order-but">我的订单</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--logo search 开始-->
<div class="hd-info1 w1200">
    <div class="logo f-l">
        <h1><a href="http://localhost/shop-home"><img src="images/logo.png" width="250" height="60" style="position:relative;top:30px;"/></a></h1>
    </div>
    <div class="dianji f-r">
        <div class="btn1">
            <button class="btn1-l">注册</button>
            <button class="btn1-r">登录</button>
            <div style="clear:both;"></div>
        </div>
        <button class="btn2">商家入口    ></button>
    </div>
    <div class="search f-r">
        <ul class="sp">
            <li class="current" ss-search="sp"><a href="JavaScript:;">商品</a></li>
            <li ss-search="dp"><a href="JavaScript:;">店铺</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div class="srh">
            <div class="ipt f-l">
                <input type="text" id="keyword" placeholder="搜索商品..." ss-search-show="sp"/>
                <input type="text" placeholder="搜索店铺..." ss-search-show="dp" style="display:none;"/>
            </div>
            <button class="f-r" id="search-but">搜 索</button>
            <div style="clear:both;"></div>
        </div>
        <ul class="sp2">
            <li><a href="http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword='小说'">小说</a></li>
            <li><a href="http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword='文学'">文学</a></li>
            <li><a href="http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword='社科'">社科</a></li>
            <li><a href="http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword='外语'">外语</a></li>
            <li><a href="http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword='教辅'">教辅</a></li>
            <li><a href="http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword='艺术'">艺术</a></li>
            <li><a href="http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword='童书'">童书 </a></li>
            <li><a href="http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword='青春'">青春</a></li>
            <li><a href="http://localhost/shop-search/searchGoodsController/searchGoodsList?keyword='文学'">文学</a></li>
            <div style="clear:both;"></div>
        </ul>
    </div>

    <div style="clear:both;"></div>
</div>

<!--内容开始-->
<!--筛选结果-->


<!--内容↓↑-->
<div class="shop-page-con w1200">
    <div class="shop-pg-left f-l" style="width:215px">
        <div class="shop-left-buttom" style="margin-top:0;">
            <div class="sp-tit1">
                <h3>商品推荐</h3>
            </div>
            <ul class="shop-left-ul">
                <li>
                    <div class="li-top">
                        <a href="#" class="li-top-tu"><img src="images/daodej.jpg" /></a>
                        <p class="jiage"><span class="sp1">￥109</span><span class="sp2">￥209</span></p>
                    </div>
                    <p class="miaoshu">道德经 精装版</p>
                    <div class="li-md">
                        <div class="md-l f-l">
                            <p class="md-l-l f-l" ap="">1</p>
                            <div class="md-l-r f-l">
                                <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="md-r f-l">
                            <button class="md-l-btn1">立即购买</button>
                            <button class="md-l-btn2">加入购物车</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <p class="pingjia">88888评价</p>
                    <p class="weike">哲思书城自营</p>
                </li>
                <li>
                    <div class="li-top">
                        <a href="#" class="li-top-tu"><img src="images/zibenlun.jpg" /></a>
                        <p class="jiage"><span class="sp1">￥109</span><span class="sp2">￥209</span></p>
                    </div>
                    <p class="miaoshu">资本论 精装</p>
                    <div class="li-md">
                        <div class="md-l f-l">
                            <p class="md-l-l f-l" ap="">1</p>
                            <div class="md-l-r f-l">
                                <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="md-r f-l">
                            <button class="md-l-btn1">立即购买</button>
                            <button class="md-l-btn2">加入购物车</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <p class="pingjia">88888评价</p>
                    <p class="weike">哲思书城自营</p>
                </li>
                <li>
                    <div class="li-top">
                        <a href="#" class="li-top-tu"><img src="images/daodej.jpg" /></a>
                        <p class="jiage"><span class="sp1">￥109</span><span class="sp2">￥209</span></p>
                    </div>
                    <p class="miaoshu">道德经</p>
                    <div class="li-md">
                        <div class="md-l f-l">
                            <p class="md-l-l f-l" ap="">1</p>
                            <div class="md-l-r f-l">
                                <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="md-r f-l">
                            <button class="md-l-btn1">立即购买</button>
                            <button class="md-l-btn2">加入购物车</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <p class="pingjia">88888评价</p>
                    <p class="weike">哲思书城自营</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="shop-pg-right f-r">
        <div class="shop-right-cmp" style="margin-top:0;">
            <ul class="shop-cmp-l f-l">
                <li class="current"><a href="#">综合 ↓</a></li>
                <li><a id="gprice-href" href="javascript:void(0)">价格 ↓</a></li>
                <li><a href="#">评价 ↓</a></li>
                <div style="clear:both;"></div>
            </ul>
            <div class="shop-cmp-m f-l">
                <span>价格</span><input type="text" /><span>-</span><input type="text" />
            </div>
            <div class="shop-cmp-r f-l">
                <ul class="f-l">
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>包邮</span>
                    </li>
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>进口</span>
                    </li>
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>仅显示有货</span>
                    </li>
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>满赠</span>
                    </li>
                    <li>
                        <input type="checkbox" name="hobby" value=""></input>
                        <span>满减</span>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <button>确定</button>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="shop-right-con">
            <ul class="shop-ul-tu shop-ul-tu1">
                <li th:each="goods:${goodsList}">
                    <div class="li-top">
                        <a target="_blank" href="#" class="li-top-tu" th:href="|http://localhost/shop-item/${goods.id}.html|"><img style="width: 95px;height: 110px;" th:src="${#strings.listSplit(goods.tempPng,'|')[0]}"/></a>
                        <p class="jiage"><span class="sp1" th:text="|￥ ${goods.gprice}|">109</span><span class="sp2">￥209</span></p>
                    </div>
                    <p class="miaoshu" th:utext="${goods.gname}">德国原装进口Wurenbacher瓦伦冰黑啤5L/桶</p>
                    <div class="li-md">
                        <div class="md-l f-l">
                            <p class="md-l-l f-l" ap="" th:id="|count_${goods.id}|">1</p>
                            <div class="md-l-r f-l">
                                <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="md-r f-l">
                            <button class="md-l-btn1">立即购买</button>
                            <button class="md-l-btn2" th:onclick="|addCar(${goods.id})|">加入购物车</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <p class="pingjia">88888评价</p>
                    <p class="weike">哲思书城自营</p>
                </li>
                <div style="clear:both;"></div>
            </ul>

            <!--分页-->
            <div class="paging">
                <div class="pag-left f-l">
                    <a href="#" class="about left-r f-l"><</a>
                    <ul class="left-m f-l">
                        <li><a href="#">1</a></li>
                        <li class="current"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">100</a></li>
                        <div style="clear:both;"></div>
                    </ul>
                    <a href="#" class="about left-l f-l">></a>
                    <div style="clear:both;"></div>
                </div>
                <div class="pag-right f-l">
                    <div class="jump-page f-l">
                        到第<input type="text" />页
                    </div>
                    <button class="f-l">确定</button>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>

<!--底部服务-->
<div class="ft-service">
    <div class="w1200">
        <div class="sv-con-l2 f-l">
            <dl>
                <dt><a href="#">新手上路</a></dt>
                <dd>
                    <a href="#">购物流程</a>
                    <a href="#">在线支付</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">配送方式</a></dt>
                <dd>
                    <a href="#">货到付款区域</a>
                    <a href="#">配送费标准</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">购物指南</a></dt>
                <dd>
                    <a href="#">常见问题</a>
                    <a href="#">订购流程</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">售后服务</a></dt>
                <dd>
                    <a href="#">售后服务保障</a>
                    <a href="#">退款说明</a>
                    <a href="#">新手选购商品总则</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">关于我们</a></dt>
                <dd>
                    <a href="#">投诉与建议</a>
                </dd>
            </dl>
            <div style="clear:both;"></div>
        </div>
        <div class="sv-con-r2 f-r">
            <p class="sv-r-tle">187-8660-5539</p>
            <p>周一至周五9:00-17:30</p>
            <p>（仅收市话费）</p>
            <a href="#" class="zxkf">24小时在线客服</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

<!--底部 版权-->
<div class="footer w1200">
    <p>
        <a href="#">关于我们</a><span>|</span>
        <a href="#">友情链接</a><span>|</span>
        <a href="#">哲思书城社区</a><span>|</span>
        <a href="#">诚征英才</a><span>|</span>
        <a href="#">商家登录</a><span>|</span>
        <a href="#">供应商登录</a><span>|</span>
        <a href="#">热门搜索</a><span>|</span>
        <a href="#">哲思书城新品</a><span>|</span>
        <a href="#">开放平台</a>
    </p>
    <p>
        沪ICP备13044278号<span>|</span>合字B1.B2-20130004<span>|</span>营业执照<span>|</span>互联网药品信息服务资格证<span>|</span>互联网药品交易服务资格证
    </p>
</div>
</body>
</html>