<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.mapper.OrderMapper">


    <insert id="createOrder">

        insert into
          t_order_${tableIndex}
          (
                id,
                uid,
                create_time,
                address,
                phone,
                username,
                total_price,
                pay_type,
                status
          )
          values
          (
              #{order.id},
              #{order.uid},
              now(),
              #{order.address},
              #{order.phone},
              #{order.username},
              #{order.totalPrice},
              #{order.payType},
              #{order.status}
          )

    </insert>


    <insert id="batchInsertOrderDetail">

        insert into
        t_order_detail_${tableIndex}
        (
        oid,
        gid,
        count,
        subtotal,
        gname,
        gdesc,
        gpng,
        gprice
        )
        values

        <foreach collection="odList" item="od" separator=",">
            (
            #{od.oid},
            #{od.gid},
            #{od.count},
            #{od.subtotal},
            #{od.gname},
            #{od.gdesc},
            #{od.gpng},
            #{od.gprice}
            )
        </foreach>


    </insert>

    <resultMap id="baseResultMap" type="com.qf.entity.Order">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="create_time" property="createTime"/>
        <result column="username" property="username"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="total_price" property="totalPrice"/>
        <result column="status" property="status"/>
        <result column="pay_type" property="payType"/>
    </resultMap>

    <resultMap id="baseResultMap2" type="com.qf.entity.Order" extends="baseResultMap">

        <!-- 订单的映射关系已经映射了，所以这里这些订单详情的-->
        <collection property="orderDetailList" ofType="com.qf.entity.OrderDetail">
                <id column="odId" property="id"/>
                <result column="oid" property="oid"/>
                <result column="gid" property="gid"/>
                <result column="count" property="count"/>
                <result column="subtotal" property="subtotal"/>
                <result column="gname" property="gname"/>
                <result column="gdesc" property="gdesc"/>
                <result column="gpng" property="gpng"/>
                <result column="gprice" property="gprice"/>
        </collection>
    </resultMap>
    

    <select id="getOrderById" resultMap="baseResultMap">
        SELECT  * from t_order_${tableIndex} where id = #{oid}
    </select>


    <update id="updateOrderStatus">
        update t_order_${tableIndex} set status = #{map.status} where id = #{map.orderId}
    </update>


    <select id="getOrderListByUserId" resultMap="baseResultMap2">
          SELECT
            o.*,
           od.*,
          o.id as id,
          od.id as odId
        FROM
            t_order_${tableIndex} o
        LEFT JOIN t_order_detail_${tableIndex} od ON (o.id = od.oid)
        WHERE
	      o.uid = #{userId};
    </select>

</mapper>